// components/TodoListView/style.module.scss
@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.container {
    background-color: $color-primary;
    padding: 16px 32px 36px;
    display: flex;
    flex-direction: column;
    gap: 16.55px;

    @include respond-sm {
        background: linear-gradient(173deg,
                $color-primary 0%,
                $color-primary 61%,
                $color-white 61.5%,
                $color-white 100%);
        min-height: 670px;
        gap: 40.55px;
    }
}

.header {
    max-width: 311px;
    width: 100%;
    min-height: 38.45px;
    margin: 0 auto;
    @include flex-between;
    flex-wrap: wrap;

    @include respond-sm {
        max-width: 962px;
    }

    &Actions {
        @include flex-between;
        max-width: 28px;
        width: 100%;
        min-height: 20px;

        @include respond-sm {
            max-width: none;
            width: auto;
            min-height: 23px;
            display: flex;
            justify-content: flex-end;
            max-width: none;
            gap: 24px;
        }
    }
}

.heading {
    max-width: 242.51px;
    width: 100%;
    font-family: $font-family-title;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    display: flex;
    align-items: center;
}

.nickname {
    display: none;

    @include respond-sm {
        display: inline;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        color: $color-secondary;

    }
}

.signOutButton {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    color: $color-secondary;

    @include respond-sm {
        font-size: $font-size-sm;
    }
}

.main {
    max-width: 311px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-sm {
        max-width: 500px;
    }
}

.form {
    width: 100%;
    min-height: 47px;
    background-color: $color-white;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    @include flex-between;
}

.input {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $color-secondary;
    display: inline-block;
    min-height: 47px;
    flex: 1;
    min-width: 0;

    &::placeholder {
        color: $color-secondary-light;
    }

    &:focus {
        outline: 0;
    }
}

.addButton {
    background-color: $color-secondary;
    width: 40px;
    height: 39px;
    border-radius: 10px;
    flex-shrink: 0;
    @include flex-center;
}

.empty {
    &State {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @include respond-sm {
            margin-top: 60px;
        }
    }

    &Image {
        width: 100%;
        max-width: 240px;
        margin-bottom: 16px;
    }

    &Text {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        line-height: 23px;
    }
}

.todo {
    width: 100%;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

    &Body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 23px 16px 16px;

        @include respond-sm {
            padding: 23px 18px 24px 24px;
        }
    }

    &List {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 279px;
        width: 100%;

        @include respond-sm {
            max-width: 476px;
        }
    }

    &Item {
        min-height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #E5E5E5;

        @include respond-sm {
            border-bottom: 0;
        }
    }

    &Count {
        max-width: 279px;
        width: 100%;
        font-size: $font-size-xs;
        font-weight: $font-weight-normal;
        text-align: left;

        @include respond-sm {
            max-width: 476px;
        }
    }
}

.filter {
    &List {
        width: 100%;
        display: flex;
    }

    &Item {
        width: 100%;
        flex-grow: 1;
    }

    &Button {
        @include flex-center;
        min-height: 51px;
        width: 100%;
        flex-grow: 1;
        border-bottom: 2px solid #EFEFEF;
        color: $color-secondary-light;
    }
}

.isActive {
    border-color: $color-secondary;
    color: $color-secondary;
}

.itemLeft {
    min-height: 36px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    min-width: 0;

    @include respond-sm {
        max-width: 428px;
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
    }
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.checkboxLabel {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid $color-secondary-light;
        border-radius: 5px;
        display: inline-block;
    }
}

.checkboxInput:checked+.checkboxLabel::before {
    border: 0;
    border-radius: 0;
    border-left: 3px solid $color-primary;
    border-bottom: 3px solid $color-primary;
    width: 20px;
    height: 10px;
    transform: translateX(2px) translateY(2.52px) rotate(-45deg);
}

.checkboxInput:focus-visible+.checkboxLabel::before {
    outline: 3px solid rgba(0, 0, 0, 0.15);
    outline-offset: 2px;
}

.todoTextButton {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    line-height: 20px;

    @include text-ellipsis;
}

.isDone .todoTextButton {
    color: $color-secondary-light;
    text-decoration: line-through;
}

.deleteButton {
    width: 16px;
    height: 16px;
    @include flex-center;
}