// _variables.scss

// Colors/
$color-white: #ffffff;
$color-primary: #FFD370;
$color-secondary: #333333;
$color-secondary-light: #9F9A91;


// Typography
$font-family-base: "Noto Sans CJK TC", sans-serif;
$font-family-title: "Baloo Thambi 2", Arial, sans-serif;

// Font Weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font Size
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;