// global.scss
@use 'modern-css-reset' as *;
@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}